body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

/* 4. Style the product gallery using flexbox. */
.product-gallery {

}

/* 5. Style the div with the class "product-card" using the box model. */
/* 6. Add a solid border with any color you like. */
/* 7. Add background color of white. */
____ {

}

.product-image {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px;
}

.product-name {
    color: #333;
    margin-bottom: 10px;
}

.product-desc {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-price {
    color: #e74c3c;
    font-weight: bold;
}

/* Extra Tasks:
    1. Add hover effects on the product card, like changing the background color or transforming its scale.
    2. Adjust the layout to show 2 or 4 products per row.
    3. Explore the "align-items" and "align-content" flexbox properties and see how they change the product gallery layout.
    4. Introduce a class for "on-sale" products and style them differently.
    5. Add a "Sale" badge on top of the product image for items on sale using pseudo-elements (::before or ::after).
*/
